#html{
    color: white;
    background-image: url("Background.jpg");
    /* height: auto;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
}
.questionaire{
    text-align: center;
}
.question{
    font-size: 25px;
}
.answers{
    /* padding: 3px;
    background-color: gold; */
}